.common-class {
  display: block;
  font-size: 20px;
  justify-self: center;
  align-content: center;
  width: 300px;
}
.common-class {
  display: block;
  margin: 10 auto;
  text-align: center;
  height: 10vh;
  line-height: 1vh;
}
